<h1>this is the edit page</h1>

<form action="/edit/<%=_id%>" method="POST">
    <input type="text" name="username" value="<%=username%>" > username
    <input type="password" name="password" placeholder="password"> password
    <button>submit</button>
</form>

<li><a href="/">show all</a></li>
<li><a href="/login">login</a></li>
<li><a href="/logout">logout</a></li>